@import "tailwindcss";

@theme {
  --color-cstm-purple: #908eff;
  --color-violet-950-50: rgba(47, 13, 104, 50%);
}

@layer base {
  body {
    font-family: "Carlito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button {
    font-family: "Work Sans", sans-serif;
  }

  .work-sans {
    font-family: "Work Sans", sans-serif;
  }

  .carlito {
    font-family: "Carlito", sans-serif;
  }
}

@layer utilities {
  @keyframes slideIn {
    0% {
      transform: translate(-100%, 0px);
      background-color: #050c1e;
    }

    100% {
      background-color: #030712;
    }
  }
  @keyframes slideOut {
    0% {
      background-color: #050c1e;
    }

    100% {
      background-color: #030712;
      transform: translate(-100%, 0px);
      display: hidden;
    }
  }

  @keyframes fill {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }

  .nav-open {
    animation: slideIn 0.7s;
    animation-fill-mode: forwards;
  }

  .nav-close {
    animation: slideOut 0.6s;
    animation-fill-mode: forwards;
  }

  .filled {
    animation: fill 1s forwards;
  }

  html {
    position: relative;
    scroll-padding-top: 80px;
    scroll-behavior: smooth;
  }
  button {
    cursor: pointer;
  }
  .max-cont {
    @apply mx-auto w-[305px] sm:w-[525px] md:w-[620px] lg:w-[850px] xl:w-[1110px] 2xl:w-[1333px];
  }
  /* on small */
  @media (width > 640px) {
    .proj-para {
      font-size: inherit;
    }
  }
}
