@import "tailwindcss";

.rand {
  color: rgba(47, 13, 104, 50%);
}

@theme {
  --color-cstm-purple: #908eff;
  --color-violet-950-50: rgba(47, 13, 104, 50%);
}

body {
  font-family: "Carlito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1,
h3,
h3,
h4,
h5,
h6,
button {
  font-family: "Work Sans", sans-serif;
}

body {
  @apply bg-gray-950;
}

.work-sans {
  font-family: "Work Sans", sans-serif;
}

.carlito {
  font-family: "Carlito", sans-serif;
}

@keyframes slideIn {
  0% {
    transform: translate(-100%, 0px);

    background-color: #1e2939;
  }

  100% {
  }
}
@keyframes slideOut {
  0% {
    background-color: #1e2939;
  }

  100% {
    transform: translate(-100%, 0px);
    display: hidden;
  }
}

.nav-open {
  animation: slideIn 0.7s;
  animation-fill-mode: forwards;
}

.nav-close {
  animation: slideOut 0.6s;
  animation-fill-mode: forwards;
}

.grayed-out::before {
  content: "";
  position: absolute;
  z-index: 5;
  height: 100%;
  aspect-ratio: 1;
  @apply bg-gray-800;
  opacity: 70%;
}
